@import "https://unpkg.com/open-props";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-size-3);
  line-height: 1.5;
  margin-bottom: 25vh;
}

h1 {
  font-size: var(--font-size-fluid-3);
  line-height: 1;
}

h2 {
  font-size: var(--font-size-fluid-1);
  line-height: 1;
  margin-top: 3em;
}

.container {
  inline-size: min(100% - 2rem, var(--size-content-3));
  margin-inline: auto;
}
